<launch>
	<node
		pkg="dji_sdk_read_cam"
		type="dji_sdk_read_cam"
		name="dji_sdk_read_cam"     >
		
		<!-- node parameters -->
		<param name="gray_or_rgb" type="int" value="1"/>
		<param name="to_mobile" type="int" value="1"/>
	</node>
	
	<include file="$(find cruiser_activate)/launch/activate_manifold.launch"/>
	
	<node
		pkg="cruiser"
		type="mobile_msg"
		name="mobile_msg"
		launch-prefix = "xterm -e"
	/>
	
	<node
		pkg="cruiser_lib"
		type="landing_alg_node"
		name="landing_alg_node"
		launch-prefix = "xterm -e"
	/>
	
	<node
		pkg="cruiser_lib"
		type="tracking_alg_node"
		name="tracking_alg_node"
		launch-prefix = "xterm -e"
	/>
	
	<node
		pkg="cruiser"
		type="landing_move_node"
		name="landing_move_node"
		launch-prefix = "xterm -e"
	/>
	
	<node
		pkg="cruiser"
		type="tracking_move_node"
		name="tracking_move_node"
		launch-prefix = "xterm -e"
	/>
	
</launch>

