<launch>
	<node
		pkg="dji_sdk_read_cam"
		type="dji_sdk_read_cam"
		name="dji_sdk_read_cam"
		output="screen">
		
		<!-- node parameters -->
		<param name="gray_or_rgb" type="int" value="1"/>
		<param name="to_mobile" type="int" value="1"/>
	</node>
	
	<include file="$(find cruiser_activate)/launch/activate_laptop.launch"/>
	
	<node
		pkg="cruiser"
		type="mobile_msg"
		name="mobile_msg"
		output="screen"	
		launch-prefix="xterm -e"	
	/>
	
	<node
		pkg="cruiser_lib"
		type="landing_alg_node"
		name="landing_alg_node"
		output="screen"	
		launch-prefix="xterm -e"	
	/>
	
	<node
		pkg="cruiser_lib"
		type="tracking_alg_node"
		name="tracking_alg_node"
		output="screen"	
		launch-prefix="xterm -e"	
	/>
	
	<node
		pkg="cruiser_landing"
		type="landing_move_node"
		name="landing_move_node"
		output="screen"	
		launch-prefix="xterm -e"	
	/>
	
	<node
		pkg="cruiser_tracking"
		type="tracking_move_node"
		name="tracking_move_node"
		output="screen"	
		launch-prefix="xterm -e"	
	/>
</launch>

